.sidebar-container {
  width: 20em;
  padding-left: 50px;
}

.sidebar-drawer {
  width: 20em;
}

.content {
  width: 55em;
}

.toc-drawer {
  width: 20em;
}

.sidebar-brand-text {
  font-size: 13pt;
}

.literal {
  white-space: nowrap !important;
}

.wy-nav-content {
  max-width: initial;
}
